/* -----------------------------------------------------------------------------
Import CORE LIBS, GLOBALS
----------------------------------------------------------------------------- */

/* BOOTSTRAP ---------------------------------------------------------------- */
//Overrides
// $grid-columns: 12;
$grid-gutter-width: 40px;
// $grid-breakpoints: (
// // Extra small screen / phone
// xs: 0,
// // Small screen / phone
// sm: 576px,
// // Medium screen / tablet
// md: 768px,
// // Large screen / desktop
// lg: 992px,
// // Extra large screen / wide desktop
// xl: 1200px
// );
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1440px
);
// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
// Optional
@import "../../../node_modules/bootstrap/scss/reboot";
// @import "../../../node_modules/bootstrap/scss/type";
// @import "../../../node_modules/bootstrap/scss/images";
// @import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
/* GLOBALS ---------------------------------------------------------------- */
@import "globals/variables"; 
@import "globals/fonts";
@import "globals/mixins";
@import "globals/base";
@import "globals/utility";
@import "globals/motion";
@import "globals/print";
